# Android/Gradle
.gradle/
build/
*/build/
.kotlin/
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Keystore / signing
*.jks
*.keystore

# Local packaging artifacts
StreamKeepAlive-Mac.zip
StreamKeepAlive-Windows.zip
website/installer/stream-keep-alive-mac.zip
website/installer/stream-keep-alive-windows.zip
